$input-border-color: var(--tg-theme-link-color, #000);
$input-bg-color: var(--tg-theme-bg-color, #ffffff);
$input-text-color: var(--tg-theme-text-color, #222222);
$input-hint-color: var(--tg-theme-hint-color, #ccc);
$input-error-color: var(--tg-theme-destructive-text-color, #ef1717);

.select-container {
  margin-bottom: 15px;
}

.react-select-error {
  .react-select__control {
    border: 1px solid $input-error-color !important;
  }
}

.react-select__control {
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  color: $input-text-color !important;
  border: 1px solid $input-border-color !important;
  background-color: $input-bg-color !important;

  .react-select__input {
    color: $input-text-color !important;
  }

  &:hover {
    border-color: var(--tg-theme-link-color, #666666);
  }
}

.react-select__placeholder {
  color: $input-hint-color !important;
}
.react-select__single-value {
  color: $input-text-color !important;
}

.react-select__value-container {
  padding-inline: 12px !important;
}

.react-select__multi-value {
  background-color: $input-bg-color !important;
  border: 1px solid $input-border-color !important;
  border-radius: 2px;
  padding: 2px 6px;

  .react-select__multi-value__label {
    color: $input-text-color !important;
  }

  .react-select__multi-value__remove {
    color: $input-text-color !important;

    &:hover {
      background-color: var(--tg-theme-link-color, #666666) !important;
      color: white;
    }
  }
}

.react-select__menu {
  background-color: $input-bg-color !important;
  border: 1px solid $input-border-color !important;
}

.react-select__option {
  color: $input-text-color !important;
  background-color: $input-bg-color !important;

  &.react-select__option--is-selected {
    color: $input-bg-color;
    background-color: $input-border-color !important;
  }

  &:hover {
    background-color: var(--tg-theme-link-color, #666666) !important;
    color: white;
  }
}
